[gcode_macro BED_MESH]
gcode:
  RESPOND MSG="BED_MESH Setting extruder fan at max speed"
  M106 S255                            # fan at 100%
  RESPOND MSG="BED MESH Heating bed and extruder"
  M140 S60                              # heat bed at 60°C
  M104 S215                             # heat at 215°C
  RESPOND MSG="BED_MESH Homing"
  G28 X Y Z
  RESPOND MSG="BED_MESH Waiting for bed at 60°C and extruder at 215°C"
  M190 S60                              # wait for bed at 60°C
  M109 S215                             # wait for extrucder at 215°C
  RESPOND MSG="BED_MESH Waiting for 10 minutes"
  G4 P600000                           # wait for 10 minutes 10*60*1000
  RESPOND MSG="BED_MESH Calibrating bed default"
  BED_MESH_CALIBRATE PROFILE="default" # bed mesh calibrate
  RESPOND MSG="BED_MESH Calibrating finished"
  M106 S0
  RESPOND MSG="BED_MESH Stoping extruder fan"
[gcode_macro Z_ENDSTOP_HIT]
gcode:
  {% set Z_ENDSTOP_HIT = printer.save_variables.variables.z_endstop_hit | default(0) | float | round(3) %}
  RESPOND TYPE=command MSG="Reset z_endstop_hit from {Z_ENDSTOP_HIT} to 0.0"
  SAVE_VARIABLE VARIABLE=z_endstop_hit VALUE=0
  G90
  # Note: you need to adjust the position to the center of the button!
  G1 X58.10 Y238.80 Z5 F8000
  # TODO -> Add retraction and wipe, make sure it is in center!
  M400
  # Note: you need to adjust the position to the center of the button!
  G1 X58.10 Y238.80 Z3 F500
  M400
  G91
  {% set z_count = 500 %}
  {% for cz in range(z_count) %}
    _MOVE_Z_DOWN
  {% endfor %}

[gcode_macro _MOVE_Z_DOWN]
gcode:
  {% if printer.save_variables.variables.z_endstop_hit == 0 %}
    G1 Z-0.01 F50
    M400
    _CHECK_Z_HIT
  {% endif %} 
  
[gcode_macro _CHECK_Z_HIT]
variable_z_end: 0
gcode:
    {% set Z_POSITION = printer.toolhead.position.z | default(0) | float | round(3) %}
    {% set Z_PROBE_OFFSET = printer.configfile.settings.probe.z_offset | default(0) | float | round(3) %}
    {% set Z_PRINTBED_OFFSET = printer.save_variables.variables.z_printbed_offset | default(0.4) | float | round(3) %}

    {% if printer['gcode_button pa0'].state == "PRESSED" %}
        RESPOND TYPE=command MSG="Z-end button hit at {Z_POSITION}"
        SAVE_VARIABLE VARIABLE=z_endstop_hit VALUE={Z_POSITION}
        {% set CALCULATED_Z_PROBE_OFFSET = Z_PROBE_OFFSET + Z_POSITION * -1 - Z_PRINTBED_OFFSET %}
        SAVE_VARIABLE VARIABLE=z_calculate_probe VALUE={CALCULATED_Z_PROBE_OFFSET}
        RESPOND TYPE=command MSG="Manually modify the probe z-offset in the printer.cfg to {CALCULATED_Z_PROBE_OFFSET}"
    {% endif %}

[gcode_macro PULL_FILAMENT_OUT]
gcode:
  G91
  G1 E20 F500
  G1 E-100 F500
  G90
  M84 #motors off

[gcode_macro FILAMENT_INSERT]
gcode:
  G91
  G1 E40 F500 #extrude 40mm of filament
  G90
  M84 #motors off

[gcode_macro PRINT_END]
 gcode:
  M106 S0
  G91
  G1 E-2
  G1 Z5 F200
  G90
  
  G1 F2000 X20
  G1 F2500 Y200 ; expose the print
  M140 S0
  M104 S0
  M84 #motors off

[gcode_macro CANCEL_PRINT]
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  G91
  G0 Z10 F3600 ; move nozzle up
  G90
  G0 X125 Y200 F20000 ; move nozzle to remove stringing
  M107 ; turn off fan
  G90 ; absolute positioning
  BED_MESH_CLEAR

[gcode_macro DRY_FILAMENT]
gcode:
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=60
  G4 P10800000 #3 hours (3*60*60*1000)
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

[gcode_macro START_PRINT]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

  # Extruder fan at 100% (for z-probe)
  M106 S255

  # Start bed heating
  M140 S{BED_TEMP}

  # Start hotend heating
  M104 S{EXTRUDER_TEMP}

  # Wait for bed to reach temperature
  M190 S{BED_TEMP}
  
  # Set and wait for nozzle to reach temperature
  M109 S{EXTRUDER_TEMP}

  # Load default bed mesh
  BED_MESH_PROFILE LOAD="default"

  # Set absolute position
  G90
  
  # Home the printer
  G28 X Y Z

  # Stop extruder fan
  M106 S0

  # Move head to the other side
  G1 X50 Y0 Z3 F1200

  # Draw a line
  G92 E0  ;zero the extruded length
  G1 X70 Y-2 Z0.6 F2400                ; that's scary
  G1 E3 F1000
  G1 X130  E43 F500                       ; Extrude 45mm of filament in a 6cm line.
  G1 Z1
